@import url("./styles.css");

header {
    height: 8%;
    background-color: var(--primary);
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 0px 15px;
}

header p {
    margin: 0px;
    color: white;
}

#todo-title {
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}

#signiture {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

#signiture a {
    width: 20px;
    height: 20px;
    transition: 0.1s;
}

#signiture img {
    width: 100%;
}

#signiture a:hover {
    width: 30px;
    height: 30px;
}

#content {
    height: 92%;
    display: flex;
}

#left-menu {
    --padding: 15px;
    padding: var(--padding);
    width: 200px;
    height: calc(100% - var(--padding)*2);
    background-color: white;
    box-shadow: 1px 0px 3px var(--shadow);
    clip-path: inset(0px -5px 0px 0px);
    position: relative;
    z-index: 500;
}

#left-menu p {
    margin: 0px;
}

#default-selection {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#default-selection > * {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.1s;
}

#default-selection > *:hover {
    background-color: var(--light-accent);
    font-size: 1.3rem;
    cursor: pointer;
}

#project-selection {
    font-size: 1.2rem;
}

#project-selection > p {
    font-weight: bold;
    padding-left: 5px;
    color: var(--primary)
}

#projects {
    margin-top: 10px;
    padding-left: 15px;
}

#projects .project {
    display: grid;
    grid-template-columns: 5fr 1fr;
    font-size: 1rem;
    padding: 5px;
    border-radius: 4px;
    transition: 0.1s;  
}

#projects .project > *:nth-child(2) {
    color: var(--primary);
}

#projects .project:hover {
    background-color: var(--light-accent);
    font-size: 1.1rem;
    cursor: pointer;
}

.new-project {
    font-size: 0.8rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    transition: 0.1s;
}

.new-project > p {
    width: fit-content;
    text-align: center;
}

#new-project-input {
    width: 130px;
}

#new-proj-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.3rem;
    margin-left: -20px;
    
}

.new-project:hover {
    cursor: pointer;
    font-size: 0.9rem;
}



