@import url("./styles.css");

header {
    height: 8%;
    background-color: var(--primary);
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 0px 15px;
}

header p {
    margin: 0px;
    color: white;
}

#todo-title {
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}

#signiture {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

#signiture a {
    width: 20px;
    height: 20px;
    transition: 0.1s;
}

#signiture img {
    width: 100%;
}

#signiture a:hover {
    width: 30px;
    height: 30px;
}

#content {
    height: 92%;
}

#content p {
    margin: 0px;
}

#left-menu {
    --padding: 15px;
    padding: var(--padding);
    width: 200px;
    height: calc(100% - var(--padding)*2);
    background-color: white;
    box-shadow: 1px 0px 3px #f9c1c1;
    clip-path: inset(0px -5px 0px 0px);
}

#default-selection {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#default-selection > * {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

#default-selection > *:hover {
    background-color: var(--light-background);
    cursor: pointer;
}

#project-selection {
    font-size: 1.2rem;
}

#project-selection > p {
    font-weight: bold;
    padding-left: 5px;
    color: var(--primary)
}

#projects {
    margin-top: 10px;
    padding-left: 15px;
}

#projects .project {
    display: grid;
    grid-template-columns: 5fr 1fr;
    font-size: 1rem;
    padding: 5px;
    border-radius: 4px;  
}

#projects .project > *:nth-child(2) {
    color: var(--primary);
}

#projects .project:hover {
    background-color: var(--light-background);
    cursor: pointer;
}



