@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

* {
    --primary: #FC4A4A;
    --light-background: #fffafa; /*#FFEBEB*/
    --accent: #528E7C;
    --light-accent: #7dc0ac;
    --shadow: #fddddd; /*#f9c1c1*/
}

body {
    margin: 0px;
    height: 100vh;
    font-family: "Roboto";
    background-color: var(--light-background);
}

