@import url("./styles.css");

.card {
    background-color: white;
    width: 260px;
    height: 170px;
    margin: 20px;
    padding: 20px;
    padding-bottom: 0px;
    display: grid;
    grid-template: 40px 60px 1fr / 1fr 1fr;
    border-radius: 10px;
    box-shadow: 2px 2px 3px var(--shadow);
}

.description-container {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card-title {
    font-size: 1rem;
    margin: 0px;
}

.card-date {
    font-size: 0.8rem;
    margin-top: 0px;
    color: var(--accent);
}

.complete-container {
    display: flex;
    justify-content: right;
}

.complete-input {
    height: 16px;
    width: 16px;
    margin: 0px 5px 0px 0px;
}

.complete-container > p {
    margin: 0px;
    font-size: 0.8rem;
}

.description {
    font-size: 0.8rem;
    margin-bottom: 0px;
    margin-top: 13px;
}

.expand {
    margin-top: 7px;
    font-size: 0.9rem;
    color: gray;
}

.edit-container {
    position: relative;
}

.edit {
    height: 20px;
    color: gray;
    position: absolute;
    bottom: 0px;
    font-size: 0.8rem;
}

.priority-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 100px;
    justify-self: end;
}

.priority-container > p:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-bottom: 4px;
    font-size: 0.9rem;
}

.priority-slider {
    background-color: var(--light-background);
    width: 60px;
    height: 20px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.priority-icon {
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 10px;
    margin: 2px;
    grid-column-start: 3;
    grid-column-end: 4;
}

.priority-container > p:nth-child(3){
    margin: 0px;
    height: 24px;
    margin-left: 5px;
    font-size: 0.8rem;
    line-height: 24px;
    color: red;
}

#new-card-back {
    background-color: red;
    background: rgba(255, 0, 0, 0.05);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(5px);
}

.new-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 600px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.edit-card.close-button-container {
    display: flex;
    justify-content: right;
}

.edit-card.close-button {
    margin:0px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    font-size: 1.1rem;
    transition: 0.1s;
}

.edit-card.close-button:hover {
    cursor: pointer;
    font-size: 1.2rem;
}

.edit-card.title-date-container {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.edit-card.card-title:invalid {
    border: 5px solid red;
}

.edit-card.card-date {
    width: 100px;
    margin-top: 5px;
}

.edit-card.description-container{
    display: flex;
    justify-content: center;
}

.edit-card.description {
    width: 100%;
    height: 200px;
    resize: none;
}

.edit-card.priority-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 110px;
}

#submit-card {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 24px;
    border-radius: 12px;
    border: none;
    background-color: blue;
    color: white;
}

#submit-card:hover {
    cursor: pointer;
}