@font-face {
    font-family: "Roboto";
    src: url("./assets/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/Roboto/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

* {
    --main-red: #FD6F6F;
    --floral-white: #FEF8EC;
    --wintergreen: #528E7C;
}

body {
    margin: 0px;
}